*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2f3330;
}
.main{
    width: 20%;
    height: 400px;
    background-color: #1c1a1a;
    margin: 50px auto;
}
.content{
    margin-top: 10px;
    margin:  50px auto;
}
.button{
    border-radius: 5px;
    width: 150px;
    width: 150px;
    background-color: #2f3330;
    margin: 2px auto;
    margin-top: 5px;
    
}

.button:hover{
    background-color:#000;
}
