*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#main{
    width: 100%;
    height: 600px;
   
}
.content{
    width: 20%;
    height: 300px;
    background-color: #4a4a4a;
    padding: 10px;
    margin-top: 50px;
    margin: 0 auto;
    margin-top: 50px;
   
    

}
.button_list{
    width: 200px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    margin: 3px auto;
    border-right: none;
}
.button{
    width: 200px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
    margin: 3px auto;   
    color: white;
}
.button:hover{
    background-color:#302f2f;
    border-right: none;
}
